.clickable{
  position: relative;
display: inline-block;
  cursor:pointer;
  -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin: auto;
}
.popup{
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  background: rgb(255, 255, 255);
  display: flex;
  top: 50px;
  width: 700px;
  height:425px;
  max-width: 700px;
  min-width: 400px;
  left: 100px;
  transform: translate(0px);
  z-index: 1;
  flex-direction: column;
  border-style : Solid;
  border-width: 3px;
  border-color : #138f9c;
  border-color : rgba(19, 143, 156, 1);
  margin:auto;
  padding-top: 0;
}
.prompt{
font-weight: bold;
font-size: larger;
}
.show{
  visibility: visible;
}
.hide{
visibility:hidden;
}
.exitButton {

position: absolute;
right:0px;
padding: 10px;
cursor: pointer;
z-index: 50;
line-height: 1px;
}
.content{
padding: 10px 110px 10px 35px;
}
body{
padding:0;
margin:0;
font-family: Arial, Helvetica, sans-serif;

}
h1{
color: #138f9c;
}
iframe{
margin:auto;
}.clickable{
    position: relative;
  display: inline-block;
    cursor:pointer;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
}
.popup{
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    background: rgb(255, 255, 255);
    display: flex;
    top: 50px;
    width: 700px;
    height:425px;
    max-width: 700px;
    min-width: 400px;
    left: 100px;
    transform: translate(0px);
    z-index: 1;
    flex-direction: column;
    border-style : Solid;
    border-width: 3px;
    border-color : #138f9c;
    border-color : rgba(19, 143, 156, 1);
    margin:auto;
    padding-top: 0;
}
 .show{
    visibility: visible;
}
.exitButton {
  
  position: absolute;
  right:0px;
  padding: 10px;
  cursor: pointer;
  z-index: 50;
  line-height: 1px;
}
.content{
  padding: 10px 110px 10px 35px;
}
body{
  padding:0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  
}
h1{
  color: #138f9c;
}
iframe{
  margin:auto;
}